
<div class="container-fluid" style="background: #05B7E5;">
    <div class="container">
        <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="{:U('Backend/index')}">Felix Backend</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{:U('Backend/user')}">User</a></li>
                        <li><a href="{:U('Backend/module')}">Module</a></li>
                        <li><a href="{:U('Backend/type')}">Type</a></li>
                        <li><a href="{:U('Backend/article')}">Article</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{:U('Backend/logout')}">{$Think.session.u.name}</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
        </nav>
    </div>
    <!--<div class="row col-xs-4 text-right">-->
        <!--<h3 class="text-muted">Felix Backend  |  </h3>-->
    <!--</div>-->
    <!--<div class="row col-xs-4">-->
        <!--<div class="header">-->
            <!--<ul class="list-inline">-->
                <!--<li role="presentation"><a href="{:U('Backend/user')}"><h3>User</h3></a></li>-->
                <!--<li role="presentation"><a href="{:U('Backend/module')}"><h3>Module</h3></a></li>-->
                <!--<li role="presentation"><a href="{:U('Backend/type')}"><h3>Type</h3></a></li>-->
                <!--<li role="presentation"><a href="{:U('Backend/article')}"><h3>Article</h3></a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row col-xs-4 text-right">-->
        <!--<h3 class="text-muted">{$Think.session.u.name}</h3>-->
    <!--</div>-->

</div>