<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="__PUBLIC__/bootstrap/js/bootstrap.js"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/npm.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title></title>
</head>
<body>