<include file="Public/b_head.html"/>
<include file="Public/b_banner.html"/>

<div class="container">
    <div class="row text-center">
        <h1>Type List</h1>
    </div>
    <!--<ol class="breadcrumb">-->
    <!--<li><a href="#">Home</a></li>-->
    <!--<li><a href="#">Library</a></li>-->
    <!--<li class="active">Data</li>-->
    <!--</ol>-->

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Search</div>
        <div class="panel-body">
            <form class="form-inline">
                <label>Type:</label>
                <input type="text" name="Account" class="form-control">
                <button type="submit" class="btn btn-default">Search</button>

                <a href="{:U('Backend/edittype','act=add')}">
                    <button type="button" class="btn btn-default">Add</button>
                </a>
            </form>
        </div>

        <table class="table table-striped table-hover table-condensed">
            <tr class="">
                <td>Type Name</td>
                <td>Module Name</td>
                <td>#</td>
            </tr>
            <foreach name="list" item="user">
                <tr>
                    <td>{$user.tn}</td>
                    <td>{$user.mn}</td>
                    <td><a href="{:U('Backend/edittype')}?id={$user.id}&act=edit">edit</a></td>
                <tr>
            </foreach>
        </table>
    </div>

    <div class="row table-responsive">
    </div>
    <div class="row">
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="__SELF__?p=1">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>

<include file="Public/b_foot.html"/>